#root {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  border: var(--dark) 15px solid;
  border-radius: 25px;
}


@media (orientation: portrait) {
  @media (min-width: 0px) {  
    #root {
      height: 90%;
      width: 80%;
    }
  }
  @media (min-width: 640px) {
  
  }
  @media (min-width: 1080px) {
  
  }

}

@media (orientation: landscape) {
  @media (min-width: 0px) {  
    #root {
      height: 80%;
      width: 90%;
    }
  }
  @media (min-width: 640px) {
  
  }
  @media (min-width: 1080px) {
  
  }

}