.control-button:active {
    background-color: rgb(223, 223, 223);
}

.control-button {
    color: rgb(17, 20, 40);
}

@media (orientation: portrait) {
    @media (min-width: 0px) {  
        #controls {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2.5%;
            justify-items: center;
        }
        .control-button {
            font-size: 2rem;
            width: 80%;
            border: var(--dark) 3px solid;
            border-radius: 15px;
        }
    }

}

@media (orientation: landscape) {
    @media (min-width: 0px) {  
        #controls {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2.5%;
            justify-items: center;
            margin: 2.5% 0 0 50%;
        }
        .control-button {
            font-size: 2rem;
            width: 80%;
            border: var(--dark) 3px solid;
            border-radius: 15px;
        }
    }
    @media (min-width: 1000px) {
        #controls {
            margin: 2.5% 0 0 47.5%
        }
    }
    @media (min-width: 1900px) {
        .control-button {
            font-size: 4rem;
            border: var(--dark) 10px solid;
        }
    }

}