@media (orientation: portrait) {
    @media (min-width: 0px) {
        #session {
            display: grid;
            grid-template-rows: 10% 90%;
            margin-bottom: 2.5vh;
            border: var(--dark) 10px solid;
            border-radius: 15px;
            height: 20vh;
        }
        #timer-label {
            margin: 0 0 -20% 0;
            border-bottom: var(--dark) 5px solid;
            font-size: 3rem;
        }
        #time-left {
            margin-top: 20%;
            font-size: 5rem;
        }
        @media (max-height: 760px) {

            #timer-label {
                font-size: 2.5rem;
                margin-top: 1vh;
            }
            #time-left {
                font-size: 3rem;
            } 
        }  
    }
    @media (min-width: 640px) {
        #session {
            margin-bottom: 2.5vh;
            border: var(--dark) 15px solid;
        }
        #timer-label {
            margin: 0 0 -15% 0;
            border-bottom: var(--dark) 7.5px solid;
            font-size: 5rem;
        }
        #time-left {
            margin-top: 12.5%;
            font-size: 7rem;
        }
    }
}

@media (orientation: landscape) {
    @media (min-width: 0px) {  
        #session {
            display: grid;
            grid-template-rows: 10% 90%;
            margin: -40vh 0 0 50%;
            border: var(--dark) 10px solid;
            border-radius: 15px;
            height: 50%;
            width: 50%;
        }
        #timer-label {
            margin: 0 0 -15% 0;
            border-bottom: var(--dark) 5px solid;
            font-size: 3.5rem;
        }
        #time-left {
            margin-top: 15%;
            font-size: 5rem;
        }
    }
    @media (min-width: 1000px) {
        #session {
            grid-template-rows: 10% 90%;
            margin: -37.5vh 0 0 42.5vw;
            border: var(--dark) 15px solid;
        }
        #timer-label {
            margin: 0 0 -15% 0;
            border-bottom: var(--dark) 10px solid;
            font-size: 5rem;
        }
        #time-left {
            margin-top: 15%;
            font-size: 11rem;
        }
    }
    @media (min-width: 1900px) {
        #session {
            grid-template-rows: 10% 90%;
            margin: -37.5vh 0 0 42.5vw;
            border: var(--dark) 25px solid;
        }
        #timer-label {
            margin: 0 0 -15% 0;
            border-bottom: var(--dark) 15px solid;
            font-size: 9rem;
        }
        #time-left {
            margin-top: 12.5%;
            font-size: 15rem;
        }
    }

}