#set-break, #set-session {
    display: grid;
    justify-items: center;
}

.settings-button {
    border: var(--dark) 3px solid;
    border-radius: 15px;
    color: rgb(17, 20, 40)
}

.settings-button:active {
    background-color: rgb(223, 223, 223);
}

@media (orientation: portrait) {
    @media (min-width: 0px) {  
        #break-label, #session-label {
            font-size: 2.25rem;
            margin-bottom: 0;
        }
        #set-break {
            margin-top: -20%;
        }
        #set-session {
            margin-bottom: 10%;
        }
        .settings-button {
            width: 40%;
            font-size: 1.5rem;
        }
        
        #break-length, #session-length {
            font-size: 2.25rem;
            margin: -1%;
        }
        @media (max-height: 760px) {
            #break-label, #session-label {
                font-size: 1.75rem;
            }
            .settings-button {
                font-size: 1rem;
            }
        }
    }
    @media (min-width: 640px) {
        #break-label, #session-label {
            font-size: 3.25rem;
        }
        #set-break {
            margin-top: -15%;
        }
        .settings-button {
            width: 40%;
            font-size: 2rem;
        }
        
        #break-length, #session-length {
            font-size: 3.25rem;
            margin: -1%;
        }
        #set-session {
            margin-bottom: 5%;
        }
    }
}

@media (orientation: landscape) {
    @media (min-width: 0px) {  
        #set-break, #set-session {
            margin-top: -22.5vh;
            width: 40%;
            height: 20%;
            display: grid;
            align-items: center;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            grid-template-areas: 
                "header header header"
                "down time up"
        }

        #break-label, #session-label {
            font-size: 2.5rem;
            margin-bottom: 0;
            grid-area: header;
        }
        
        #set-session {
            margin-top: 7.5%;
        }
        .settings-button {
            width: 95%;
            font-size: 1.25rem;
            height: 75%;
        }
        
        #break-length, #session-length {
            font-size: 2.5rem;
            margin: -2%;
            grid-area: time;
        }

        #break-increment, #session-increment {
            grid-area: up;
        }

        #break-decrement, #session-decrement {
            grid-area: down;
        }
    }
    @media (min-width: 1000px) {
        #set-break, #set-session {
            margin-top: -12.5vh;
        }

        #break-label, #session-label {
            font-size: 3.5rem;
        }
        
        #set-session {
            margin-top: 7.5%;
        }
        .settings-button {
            font-size: 1.75rem;
            height: 55%;
        }
        
        #break-length, #session-length {
            font-size: 3.5rem;

        }

    }
    @media (min-width: 1900px) {
        #break-label, #session-label {
            font-size: 5.5rem;
        }
        
        #set-session {
            margin-top: 7.5%;
        }
        .settings-button {
            font-size: 2.75rem;
            border: var(--dark) 7.5px solid;
        }
        
        #break-length, #session-length {
            font-size: 5.5rem;
        }
    }

}